#ignore specific subfolders
*/cmake-build-debug
*/.idea
/.idea/
*__pycache__
idea
*idea



# ignore all logs
*.log
*.pyc
.venv/
.venv-robomimic/
*.h5
.ruff_cache/
.vscode/*
*.egg-info/
dist/
build/
*.egg
*.so
*.dylib
*.dll
*.pyd
*.ipynb_checkpoints
*.ipynb
*.DS_Store
*.vscode
*.pytest_cache
*.mypy_cache
*.coverage
.coverage.*
htmlcov/
*uv.lock
*.lock
*.python-version
opencode.md
*.hdf5
*.h5
*.claude
*.editorconfig
graphify-out/
CLAUDE.md